@charset "UTF-8";

/* -------------------------------------------------------------
補足
お手本と比較して不足していた箇所等を★で記載
------------------------------------------------------------- */

html {
  font-size: 100%;
  font-family: Meiryo;
}

body {
  color: #000000;
  background-color: #F0F0F0;
  /* ★body全体のフォントサイズを指定しておくといい */
  /* font-size: 0.875rem; */
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
}

/* ★代わりにこれでも良さそう
li {
  list-style: none;
} */

dt {
  font-weight: normal;
}

.site-title {
  width: 120px;
  padding: 10px;
}

.wrapper {
  /* ★セクション全体としては全幅にしておく
  width: 100%; */
  max-width: 1000px;
  margin: 0 auto 60px auto;
  padding: 10px 4%;
}

.sec-title {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}

.sec-subtitle {
  font-size: 0.7rem;
  margin-bottom: 50px;
}

.sec-subtitle::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #000000;
  margin-top: 20px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  height: 80px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header ul {
  display: flex;
  justify-content: center;
}

.header li {
  margin-left: 20px;
}

/* ★マージンありでもそんなに影響なさそう？
.header li:last-child {
  margin-right: 0;
} */

.contact {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0 64px;
  height: 80px;
  line-height: 80px;
  /* ★設定しないとレイアウト崩れる場合もありそう */
  /* width: 200px;
  display: inline-block;
  text-align: center; */
}

/* ★お問い合わせボタンホバー時の設定
.header .contact:hover {
  background-color: #333;
}
 */

/* mainvisual */
.mainvisual {
  /* ★幅と高さはimgに設定することもある */
  width: 100%;
  margin-bottom: 200px;
}

.mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/* news */
.news-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-li {
  width: 33%;
  /* ★等分にするためにはcalc(100%/3) */
  border-left: 1px solid #000000;
  padding: 5px 10px;
}

.news-li:first-child {
  border-left: none;
  padding-left: 0;
}

.news-wrapper {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.news-date {
  font-size: 0.7rem;
  width: 80px;
  padding: 2px;
}

.news-lbl {
  width: 50px;
  font-size: 0.6rem;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 3px;
}

.news-text {
  font-size: 0.8rem;
}

/* about */
.about {
  width: 100%;
  display: flex;
  margin: 0 auto 60px auto;
}

.img-div {
  width: 60%;
}

.about-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.text-div {
  width: 40%;
  padding: 180px 5% 0 5%;
}

.about-text {
  font-size: 0.7rem;
  margin-bottom: 10px;
  line-height: 2.2;
}

/* business */
.biz-all {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.biz-all img {
  width: 368px;
  margin-bottom: 20px;
}

.biz-title {
  font-size: 0.7rem;
  padding: 10px 0;
}

.biz-left {
  width: 46%;
  margin-top: 100px;
}

.biz-right {
  width: 46%;
}

/*
★疑似要素でタイトルの横線を引く
*/
/* #business .flex .title::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
} */

/* company */
.company {
  display: flex;
  align-items: center;
  position: relative;
  height: 650px;
}

.company-info {
  width: 55%;
  /* height: 640px; */
  background-color: #FFFFFF;
  padding: 100px 60px 100px 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.company-dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  line-height: 200%;
}

.company-dl dt {
  width: 20%;
  letter-spacing: 10%;
}

.company-dl dd {
  width: 80%;
  letter-spacing: 10%;
}

.company-img {
  width: 53%;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 1;
}

.company-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* footer */
footer {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.footer {
  width: 80%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.footer-logo {
  width: 100px;
}

.footer-text {
  font-size: 0.7rem;
}

.copyright {
  font-size: 0.6rem;
}

@media screen and (max-width:900px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .header li:first-child {
    margin-left: 10px;
  }

  .contact {
    display: none;
  }

  .mainvisual {
    margin-bottom: 20px;
  }

  .mainvisual img {
    height: 100%;
  }

  .news-ul {
    flex-direction: column;
  }

  .news-li {
    width: 100%;
    border-left: none;
    margin-bottom: 20px;
  }

  .news-li:first-child {
    padding-left: 10px;
  }

  .about {
    flex-direction: column;
  }

  .img-div {
    width: 100%;
  }

  .text-div {
    width: 100%;
    padding-top: 30px;
  }

  .biz-all {
    flex-direction: column;
  }

  .biz-left {
    width: 100%;
    margin-top: 0;
  }

  .biz-right {
    width: 100%;
  }

  .company {
    flex-direction: column;
    height: 1100px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .company-info {
    padding: 10px;
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }

  .company-dl dt {
    width: 100%;
  }

  .company-dl dd {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .company-img {
    position: static;
    width: 100%;
  }

  footer {
    justify-content: flex-start;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo {
    margin-bottom: 10px;
  }
}